body {
  margin: 0;
}
* {
  font-family: SoDoSans_Regular, Helvetica, sans-serif;
  font-weight: 400;
}
h2 {
  font-weight: 700;
}
h3 {
  font-weight: 600;
}
a {
  text-decoration: none;
  color: inherit;
}
.head {
  width: 100%;
  height: 73px;
  display: flex;
  justify-content: center; /* Horizontally center the content */
  align-items: center; /* Vertically center the content */
  position: fixed;
  top: 0;
  background: white;
  z-index: 9999;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
}

.head_div {
  width: 100%;
  height: 72px;
  display: flex; /* Turn .head_div into a flex container */
  align-items: center; /* Vertically center the content */
  margin-left: 120px;
  margin-right: 135px;
}

.logo_div {
  width: 72px;
  height: 72px;
  display: flex;
  justify-content: center; /* Horizontally center the content */
  align-items: center; /* Vertically center the content */
}
.home_row {
  width: 493.3px;
  height: 72px;
  margin-left: 15px;
  font-family: SoDoSans_Semibold, Helvetica, sans-serif;

  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.home_row a {
  font-size: 14px;
  font-weight: 400;
}
.home_row a:hover {
  font-weight: bold;
  font-size: inherit;
  font-family: inherit;
  border-bottom: 2px solid #00754a;
}
.item {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.in_item {
  width: 100%;
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.in_item a {
  color: #4f5254;
}
.search {
  width: 406px;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
}
.search-bar {
  width: 206px;
  height: 0.34rem;
  margin-right: auto;
  border-radius: 1.25rem;
  font-size: 12px;
  background-color: white;
  background-image: url("https://www.starbucks.in/assets/icon/search.svg");
  background-position: 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;

  box-shadow: 0 0 2px #00000012, 0 2px 2px #0000000f, 0 1px 3px #0000001a;
  border: none;
}
.quote {
  width: 100%;
  height: 80px;
  background: rgb(30, 57, 50);
  margin-top: 76px;
  margin-bottom: 1.5em;
}

a:active {
  font-weight: bold;
}
.quote-div {
  margin-bottom: 50px;
  margin-left: 132px;
  margin-right: 140px;
  color: white;
  font-size: 20px;
  font-weight: 300;
  height: inherit;
  display: flex;
  align-items: center;
  font-family: SoDoSans_Semibold, Helvetica, sans-serif;
}
.know-more {
  margin-left: auto;
  margin-right: 15px;
}
.know-more-button {
  background-color: transparent;
  border: 1px solid #ffffff;
  color: #fff;
  width: 96px;
  height: 38px;
  font-size: 12px;
  border-radius: 4rem;
  font-family: SoDoSans_Semibold, Helvetica, sans-serif;
}
.Barista {
  height: 316.8px;
  width: 100%;
  background: #edebe9;
  position: relative;
}
.Barista img {
  position: absolute; /* Add this line */
  top: 0;
  right: 0;
}
.Barista-Recommends {
  width: 100%;
  height: 60.8px;
  display: flex;
  margin-left: 120px;

  font-family: SoDoSans_Light, Helvetica, sans-serif;
  font-weight: bold;
  color: #1e3932;

  margin-top: 1rem;
}

.view-menu {
  height: inherit;
  width: 100px;
  margin-left: auto;
  margin-right: 200px;
}
.view-menu a {
  text-decoration: none;
  color: #2e754a;
  font-family: SoDoSans_Light, Helvetica, sans-serif;
  font-size: 14px;
  display: flex;
  margin-top: 20px;
  justify-content: center;
}
.sheets {
  width: 100%;
  height: 200px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inner-sheet {
  height: 100%;
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.recommends {
  width: 30%;
  height: 82%;
  border-radius: 8px;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  cursor: pointer;
}
.food-div {
  width: 85%;
  height: 80%;
  display: flex;
  flex-wrap: wrap;
}
.food-img-name {
  width: 100%;
  height: 80px;
  display: flex;
}
.food {
  height: 80px;
  width: 110px;
  border-radius: 10px;
}
.name {
  width: 100%;
  height: 50%;
  margin-top: 16px;
  margin-left: 10px;
  font-family: SoDoSans_Semibold, Helvetica, sans-serif !important;
  font-size: 14px;
  font-weight: 700;
}
.food-1 {
  background-image: url("buna.jpg");
  background-size: cover;
  background-position: 50%;
}
.food-2 {
  background-image: url("brownie.jpg");
  background-size: cover;
  background-position: 50%;
}
.food-3 {
  background-image: url("dips.jpg");
  background-size: cover;
  background-position: 50%;
}
.add {
  height: 32px;
  width: 96px;
  margin-left: 110px;
  margin-top: 6px;
  background-color: #006241;
  border: none;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
  color: white;
  cursor: pointer;
}
.add:hover {
  background-color: #1e3932;
}

/** special offer **/

.special-offer {
  height: 252px;
  width: 100%;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: end;
}
.special-offer-banner {
  height: 210px;
  width: 80%;
  background-color: #006241;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  display: flex;
  cursor: pointer;
}
.offer-img {
  width: 150px;
  height: 100%;
  background-image: url("special-offer.png");
  background-size: cover;
}
.offer-order {
  width: 100%;
  height: 100%;
  color: white;
  margin-left: 25px;
  font-weight: 400;
}
.order-btn {
  width: 335px;
  height: 100%;
}
.line {
  font-size: 14px;
  font-weight: 400;
}

.start {
  font-size: 13px;
}
.btn {
  width: 200px;
  height: 49px;
  color: #212121;
  background-color: white;
  border: none;
  border-radius: 25px;
  margin-top: 55%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/** handcrafted area **/

.handcrafted {
  width: 100%;
  height: 245px;
  margin-top: 80px;
}
.handcrafted-curation {
  width: 500px;
  height: 52.8px;
  margin-left: 10%;
  color: #1e3932;
}
.menu-icons {
  width: 1120px;
  height: 109px;
  margin-left: 8.5%;
  display: flex;
  justify-content: space-evenly;
}
.drink-name-div {
  width: 1120px;
  height: 21px;
  margin-left: 8.5%;
  display: flex;
  justify-content: space-evenly;
}
.round-icon {
  width: 108px;
  height: 108px;
  border-radius: 50%;
  background-image: url("https://www.starbucks.in/assets/icon/placeholder.svg");
  background-size: cover;
  background-position: 50%;
}
.drink-name {
  height: 100%;
  width: 108px;
  color: #1e3932;
  font-weight: 700;
  font-size: 14px;
  display: flex;
  justify-content: center;
}
.latest-offerings-div {
  width: 100%;
  height: 420.8px;
  
}
.latest-offering {
  width: 703px;
  height: 28.2px;
  margin-left: 10%;
  color: #1e3932;
  
}
.offer-sheet-div {
  width: 1140px;
  height: 360px;
  margin-left: 8.3%;
  display: flex;
  justify-content: space-evenly;
  margin-top: 25px;
  cursor: pointer;
}
.offer-sheet {
  height: 100%;
  width: 347.33px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
}
.offer-sheet-img {
  width: 100%;
  height: 167px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.offer-name {
  width: auto;
  height: 16.8px;
  margin-top: 25px;
  margin-left: 8%;
  color: #1e393e;
  font-size: 14px;
  font-weight: 700;
}
.detail {
  width: auto;
  height: 10px;
  margin-left: 8%;
  color: #9eb4c1;
  font-family: Pike_Regular, Helvetica, sans-serif;
  font-size: 9px;
  font-weight: 500;
}
.full-detail {
  width: auto;
  height: 54px;
  margin-left: 8%;
  margin-top: 10px;
  color: #74848e;
  font-size: 11px;
}
.price {
  width: auto;
  height: 32px;
  margin-left: 8%;
  margin-top: 20px;
  font-size: 14px;
  font-weight: 600;
}
.food-img-1 {
  background-image: url("strawberry.jpg");
  background-size: cover;
  background-position: 50%;
}
.food-img-2 {
  background-image: url("refresher.jpg");
  background-size: cover;
  background-position: 50%;
}
.food-img-3 {
  background-image: url("nut.jpg");
  background-size: cover;
  background-position: 50%;
}
.more-coffee-div {
  width: 100%;
  height: 498px;
  background-color: #edebe9;
  margin-top: 80px;
}
.coffee-head-div {
  width: 80%;
  height: 60px;
  margin-left: 10%;
  display: flex;
}
.headline-div {
  width: 84%;
  height: 100%;
  color: #1e3932;
}
.discover-div {
  width: 16%;
  height: 100%;
  font-weight: 600;
  font-size: 14px;
}
.discover-div p {
  font-weight: 700;
  font-size: 13px;
  color: #007754;
}
.more-coffee-img-div {
  width: 80%;
  height: 372px;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.9)
    ),
    url("more-coffee.jpg");
  background-size: cover;
  background-position: 50%;
  margin-left: 10%;
  border-radius: 10px;
  display: flex;
  align-items: end;
  cursor: pointer;
}
.more-coffee-img-div:hover {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 1)
    ),
    url("more-coffee.jpg");
 
}
.card-title-div {
  width: 100%;
  height: 143px;
  margin-bottom: 47px;
  margin-left: 40px;
  color: white;
}
.learn-more {
  width: 200px;
  height: 32px;
  margin-top: 15px;
}
.learn {
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  font-size: 12px;
  font-weight: 700;
  cursor: pointer;
}
ul a {
  display: block;
  font-size: 0.85rem;
  margin-top: 30px;
}
ul a:hover{
  color: #8a9a9b;
  transition: .3s;
}
ul {
  margin-top: 45px;
}
ul h2{
  font-size: 20px;
  font-weight: 550;
}
footer {
  width: 100%;
  height: 750px;
  background-color: #0e382c;
  margin-top: 50px;
  padding-top: 50px;
}
.footer-div{
  width: 80%;
  height: 650px;
  margin-left: 10%;
  display: flex;
  justify-content: space-evenly;
  color: white;
  border-bottom: 1px solid #a0a0a0;
}
.footer-logo{
  margin-top: 10px;
  width: 62px;
  height: 62px;
  background-image: url(logo.png);
  background-size: cover;
  background-position: 50%;
  cursor: pointer;

}
.appstore-div{
  width: 194px;
  height: 50px;
  background-image: url("appstore.png");
   background-size: cover;
  background-position: 50%;
  cursor: pointer;
}
.playstore-div{
  margin-top: 10px;
  width: 194px;
  height: 50px;
  background-image: url("playstore.png");
  background-size: cover;
  background-position: center;
  cursor: pointer;

}
.fa-brands{
  padding: 10px;
    font-size: 30px;
    cursor: pointer;
}
.footer-end-div{
  width: 80%;
  height: 50px;
  margin-left: 10%;
  display: flex;
  padding: 10px;
}
.terms{
 width: 75%;
 height: inherit;
 color: white;
 font-size: 13.5px;
 display: flex;
}
.terms a{
  padding: 8px;
  cursor: pointer;
}
.copyright{
  padding: 10px;
  width: 25%;
  height: inherit;
  font-size: .6em;
  color: white;
  
}